/* Reset */
	html,body,div,span,applet,object,iframe,input,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
		margin:0;
		padding:0;
	}
	.clear { clear:both; }
	input:focus, a:focus { outline: none; }
	/* General Section */
	
body {
  background:#1b1b1b;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color:#ffffff;
}
	
/** The wrapper that will contain our two forms **/

.form-login {
	background: #ffffff;
	right: 0px;
	margin: 0px auto;	
	margin-top:100px;
	width: 400px;
}
/* header */
.header {
	height:60px;
	background: #efefef;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	color:#b8b8b8;
}
.header span{
	padding-top:20px;
	float:left;
	text-align:center;
	width:278px;
}
.link-head-left {
	display:block;
	float:left;
	height:60px;
	width:60px;
	border-right:1px solid #ffffff;
}
.link-head-right {
	display:block;
	float:right;
	height:60px;
	width:60px;
	border-left:1px solid #ffffff;
}
.icon-home {
	background: url(../images/icon-home.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
	margin:20px auto;
}
.icon-config {
	background: url(../images/icon-config.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
	margin:20px auto;
}
/* avatar */
.avatar {
	margin-top:25px;
	text-align:center;
}
.avatar img{
	width:180px;
	height:180px;
	border:15px solid #efefef;
	-webkit-border-radius: 180px;
	-moz-border-radius: 180px;
	border-radius: 180px;
}
/* inputs */
.inputs {
	margin-top:10px;
}
.inputs input[type="text"], .inputs [type="password"], .inputs [type="email"] {
	width:340px;
	height:45px;
	background:#efefef;
	color:#b8b8b8;
	font-size:16px;
	margin-top:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:0;
	margin-left:20px;
	padding:0px 10px;
}

/* info box */
.link-1 {
	margin-top:15px;
	margin-left:20px;
	float:left;
	color:#b8b8b8;
}
input[type="checkbox"] {
	display:none;
}

input[type="checkbox"] + label {
	font-size:13px;
}
input[type="checkbox"] + label span {
	display:inline-block;
	width:22px;
	height:22px;
	vertical-align:middle;
	background:url(../images/check_radio_sheet.png) -1px top no-repeat;
	background-position:-0px 0px; 
	cursor:pointer;
}
input[type="checkbox"]:checked + label span {
	background:url(../images/check_radio_sheet.png) -23px top no-repeat;
}
.link-2 {
	float:right;
	margin-top:15px;
	margin-right:20px;
}
.link-2 a, .link-2 a:hover {
	color:#b8b8b8;
}
.link-2 a:hover {
	text-decoration:none;
}

/* send button */
.button-login input[type="submit"] {
	width:360px;
	height:55px;
	margin-left:20px;
	margin-top:25px;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	border:0;
	background: #18af90;
	box-shadow:
		inset 0 1px #169077,
		inset 1px 0 #169077,
		inset -1px 0 #169077,
		inset 0 -1px #169077,
		0 2px #169077,
		0 3px #169077,
		0 4px 2px rgba(0,0,0,0.0)
	;
}
.button-login input[type="submit"]:hover { opacity:0.9; }
.button-login input[type="submit"]:active {
	top: 3px;
	background: #18af90;
	box-shadow: inset 0 1px 2px #169077;
}
/* footer */
.footer-login {
	margin-top:20px;
	padding-top:25px;
	height:65px;
	background:#efefef;
}
.social-links {
	list-style:none;
	margin-left:105px;
}
.social-links li{
	float:left;
}
.social-links li a{
	display:block;
	width:45px;
	height:45px;
	margin-right:15px;
}
.social-links li a span{
	display:block;
	text-indent:-9999px;
	margin-left:20px;
	width:45px;
	height:45px;
}
.social-links li a:hover span{ opacity:0.9; }
.social-links li.facebook a span{
	background-image:url(../images/facebook.png);
}
.social-links li.twitter a span{
	background-image:url(../images/twitter.png);
}
.social-links li.google-plus a span{
	background-image:url(../images/google.png);
}

.link-to-page {
	text-align:center;
	color:#fff;
	margin-top:20px;
}
.link-to-page a {
	color:#18af90;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 20px 20px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success {
    color: #4F8A10;
    border-radius: 5px;
    background-color: #DFF2BF;
    background-image:url('../ok.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #000;
    border-radius: 5px;
    background-color: #ff0000;
    background-image: url('../error.png');
}